{% macro social(twitter="", facebook="", linkedin="", rss="", github="", gplus="") %}
<div class=social>
    {% if twitter != "" %}
    
    <a href="{{ twitter }}" class=twitter></a>
    {% endif %}
    {% if facebook != "" %}
    <a href="{{ facebook }}" class=facebook></a>
    {% if gplus != "" %}
    <a href="{{ gplus }}" class=gplus></a>
    {% endif %}
    {% endif %}
    {% if linkedin != "" %}
    <a href="{{ linkedin }}" class=linkedin></a>
    {% endif %}
    {% if github != "" %}
    <a href="{{ github }}" class=github></a>
    {% endif %}
    {% if rss != "" %}
    <a href="{{ rss }}" class=rss></a>
    {% endif %}
    
    
</div>
{% endmacro %}


{% macro sidebar() %}
<div class=sidebar>
    <h2>Who Am I?</h2>
    <p>By day, Christopher acts his part as a Technical Director for Dreamworks Animation.  
    Creator of many tools, proficient in script-fu and experienced in his debuggery.</p>
    
    <p>By night, he becomes Mr Voxel.  Gamer, writer, lover of horrors and sci-fi, and dabbler
    in various side projects.  This site acts as the vent for many of the latter category.</p>
    
    {{ social(facebook="https://www.facebook.com/mrvoxel",
          linkedin="http://www.linkedin.com/in/mrvoxel",
          twitter="http://twitter.com/mrvoxel",
          github="http://github.com/cgibson",
          gplus="https://plus.google.com/110747303359639697912?rel=author",
          rss=config.SITE_BASE + "/feed") }}
              
    <h2>Recent</h2>
    <ul>
    {% for entry in util.getRecentEntries() %}
        <li><a href="{{entry.url}}">{{entry.title}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endmacro %}