{% macro social(twitter="", facebook="", linkedin="", rss="") %}
<div class=social>
    {% if twitter != "" %}
    
    <a href="{{ twitter }}" class=twitter></a>
    {% endif %}
    {% if facebook != "" %}
    <a href="{{ facebook }}" class=facebook></a>
    {% endif %}
    {% if linkedin != "" %}
    <a href="{{ linkedin }}" class=linkedin></a>
    {% endif %}
    {% if rss != "" %}
    <a href="{{ rss }}" class=rss></a>
    {% endif %}
    
</div>
{% endmacro %}


{% macro sidebar() %}
<div class=sidebar>
    <h2>Recent</h2>
    <ul>
    {% for entry in util.getRecentEntries() %}
        <li><a href="{{entry.url}}">{{entry.title}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endmacro %}