{% from '_helpers.html' import social with context %}
{% from '_helpers.html' import sidebar with context %}
<!doctype html>
<html>
<head>
<title>{{ config.blog_title }} - {{ title }}</title>

<!-- METADATA -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Description metadata -->
{% if not description %}
    <meta name="description" content="A dev blog by Christopher Gibson.  Chris' development interests lie in web and graphics programming. " />
{% else %}
    <meta name="description" content="{{ description }}" />
{% endif %}

<!-- Rss feed -->
<link href="{{ url_for('feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">

<!-- MathJax script -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,400italic' rel='stylesheet' type='text/css'>

<!-- Style Sheets -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/code/native.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

<!-- favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/favicon.ico') }}" />
 
{% if not config.DEBUG %}
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28994945-1']);
  _gaq.push(['_setDomainName', 'mrvoxel.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
</head>

<div class=contents>
  <div class=topbar>
    {{ social(facebook="https://www.facebook.com/mrvoxel",
              linkedin="http://www.linkedin.com/in/mrvoxel",
              twitter="http://twitter.com/mrvoxel",
              github="http://github.com/cgibson",
              gplus="https://plus.google.com/110747303359639697912?rel=author",
              rss=config.SITE_BASE + "/feed") }}
    <div class=title><a href="{{config.SITE_BASE}}"><img src="/static/img/mrvoxelblog.png"/></a></div>
    <!-- <div class=title><a href="{{config.SITE_BASE}}">Mr.<b>Voxel</b></a></div>
    <div class=subtitle>{{ config.blog_subtitle }}</div> -->
  </div>
  <div class=nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/c/graphics">Graphics</a></li>
    <li><a href="/c/web">Web</a></li>
    <li>Papers</li>
    <li class=end>Recipes</li>
  </ul>
  </div>
  
  <div class=pagewrapper>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
  </div>
    
    <div class=copyright>Copyright 2012 Christopher J. Gibson</div>
</div>
</html>