{% extends "layout.html" %}
{% block body %}
<div class=body>
    <div class=section>
    {% if entry %}
        <span class=date>{{ entry.created }}</span>
        <h2>{{ entry.title }}</h2>
        <div class=metadata>
        <a href="http://blog.mrvoxel.com/p/a_post_title#disqus_thread">0 Comments</a> - 
        posted under 
        {% for tag in entry.tags %}
            <a class=tag href="http://google.com">{{ tag }}</a>
        {% else %}
            <a class=graytag href="#">None</a>
        {% endfor %}
        </div>
        <hr>
        {{ entry.html|safe }}
    {% else %}
        Whoops!  No blog by that title!
    {% endif %}
    </div>
</div>


{% endblock %}
