/* Attribution: A big thanks to Kevin Burke who made the original version
   of this CSS file at:
   
   http://kevinburke.bitbucket.org/markdowncss/markdown.css
*/

body{
    /*font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: Garamond, Georgia, Palatino, serif;*/
    color: #222;
    line-height: 1;
    /*background-image: url('/static/img/title_bg2.jpg');*/
    background-repeat: repeat-x;
    background-color: #888;
    margin: 0 0px 0 0;
    
}


strong {
	font-weight: 600 !important;
}

.contents {
    margin: 0 auto;
    width: 960px;
    background-image: url('/static/img/title_bg2.jpg');
    background-repeat: repeat-x;
    z-index: 1;
    
    -moz-box-shadow: 0 0 30px 0 #666;
    -webkit-box-shadow: 0 0 30px 0 #666;
     box-shadow: 0px 0px 30px #666;
    
    
    /*border: 1px #ccc solid;*/
    
    -webkit-border-top-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    margin-top: 20px;
}

.pagewrapper a{
    border-bottom: 1px dotted;
}

.pagewrapper {
    padding: 20px 0 20px 0;
    border: 0px solid #888;
    border: 20px;
    background-color: #f5f5f5;
    
    -webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
    z-index: -1;
}

.copyright {
	color: #bbb;
	text-align: center;
	padding: 20px;
	font-size: 13px;
	font-family: Garamond, Georgia, Palatino, serif;
	font-style: italic;
    text-shadow: #333 0.1em 0.1em 0.1em;
}

.page {
    max-width: 660px;
}

.topbar {
    /*padding: 0 20px 0 20px;*/
    height: 100px;
}

/*.date {
    float: right;
    font-size: 1.1em;
    line-height: 1.9em;
    color: #999999;
    font-style: italic;
}*/

.date
{
    float: left;
    height: 40px;
    width: 40px;
    margin-left: -80px;
    margin-right: 10px;
    padding-top: 0px;
    font-size: 1.1em;
    vertical-align: center;
    /*
    border: 1px solid #ccc;
    background-color:#fafafa;
    */
}

.date .month
{
    display: block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: #666 0.1em 0.1em 0.1em;
}

.date .day
{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-shadow: #666 0.1em 0.1em 0.1em;
}

.title, .title a {
    text-decoration: none !important;
    font-size: 52px;
    /*margin: 0px 0 10px 0;*/
    padding: 15px 0 0 20px;
    /*color: #113344 !important;*/
    color: white !important;
    font-weight: 400;
    color: #fff !important;
    text-shadow: #335 0.1em 0.1em 0.2em;
}

.title b {
    font-weight: 800;
    /*color: #55ddcc !important;*/
}

.subtitle {
    max-width: 340px;
    text-align: right;
    color: #fff;
    color: #ccc;
    text-shadow: #335 0.1em 0.1em 0.1em;
    font-style: italic;
    /*text-transform:uppercase;*/
    margin-top: -15px;
    font-size: 18px;
    margin-left: 30px;
}


.important {
    padding: 10px 15px 5px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #dc6;
    background-color: #ffd;
    z-index:1;
    
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.important strong {
    line-height: 32px;
}

.exclamation {
    width: 32px;
    height: 32px;
    background-image: url("/static/img/alert_icon.png");
    background-repeat: none;
    background-position: center;
    z-index: 2;
    /*position: absolute;
    margin-left: -47px;*/
    float: right;
    margin-left: -20px;
}

/* TAGS --------------------------------------------------*/

.tag, .category{
    text-transform: lowercase;
    display: inline-block;
    /*background-color: #f8fcff;*/
    white-space: nowrap;
    overflow: visible;
    margin-right: 7px;
    margin-bottom

}

div.section {
    margin: 0;
    padding: 0px 20px 0px 20px;
}

.section img {
    padding: 2px;
    border: 1px solid #aaa;
    margin: 5px 10px 5px 10px;
}

img.leftist {
    float: left;
    margin: 5px 10px 5px 0px;
}

img.rightist {
    float: right;
    margin: 5px 0px 5px 10px;
}


/* HEADERS -----------------------------------------------*/

.posttitle, h1, h2, h3, h4, h5 {
    margin-bottom: 24px;
    padding: 0;
    text-align: left;
}

h1, h1 a {
    font-weight: 200 !important;
    border: 0px !important;
    text-decoration: none !important;
    color: #223 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    margin: 0px;
}

h2 {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px #ddd solid;
    font-size: 24px;
    /*font-style: italic;*/
    color: #223 !important;
    font-weight: 200;
}

h3, h4, h5 {
    background-color: #ff0000 !important;
}
/*
h2 {
    font-size: 18px;
}
*/


/* SOCIAL ------------------------------------------------*/

div.social {
    height: 36px;
    float: right;
    padding-top: 60px;
    padding-right: 6px;
    padding-
}

/**/
.twitter {
    background-image: url('/static/img/icons/twitter.png');
}
.github {
    background-image: url('/static/img/icons/github.png');
}

.facebook {
    background-image: url('/static/img/icons/facebook.png');
}

.linkedin {
    background-image: url('/static/img/icons/linkedin.png');
}

.rss {
    background-image: url('/static/img/icons/rss.png');
}

.social a {
    background-size:32px 32px;
    padding: 2px;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-position:center; 
    background-repeat: no-repeat;
}

/**/
.social a:hover {
    /*background-color: #FFB765 !important;
    border: 2px solid #447096;*/
}


/* SIDEBAR -----------------------------------------------*/

.sidebar {
    /*margin-right: -20px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #ccc;*/
    float: right;
    width: 240px;
    clear: both;
    padding-left: 30px;
    padding-right: 20px;
    border-left: 1px solid #ddd;
}

.sidebar a{
    /*color: #ccc !important;*/
}

.sidebar h2 {
    /*color: #78b !important;
    padding-top: 20px;*/
}

.sidebar ul {
    padding-left: 1em;
}

.sidebar a {
    font-size: 11pt;
}

.metadata {
    /*text-transform:uppercase;*/
    font-size: 0.8em;
    color: #888888;
    margin: 5px 5px 10px 5px;
}

.tagmetadata {
    /*text-transform:uppercase;*/
    font-size: 0.8em;
    color: #888888;
    margin: 5px 5px 46px 5px;
}

.more {
	text-align: right;
	font-size: 0.9em;
}


/* NAVIGATION --------------------------------------------*/
.nav {
    background-color: #2a2a2a;
    color: #666;
    height: 40px;
    background-image: linear-gradient(to bottom, #1a1a1a 0%, #2a2a2a 100%);
    background-image: -webkit-linear-gradient(top, #1a1a1a 0%, #2a2a2a 100%);
    background-image: -moz-linear-gradient(top, #1a1a1a 0%, #2a2a2a 100%);
    background-image: -ms-linear-gradient(top, #1a1a1a 0%, #2a2a2a 100%);
}

.nav ul {
    font-size: 1.1em;
    margin:0;
    padding:7px;
    list-style:none;
}

.nav li {
    display:inline;
    margin:0;
    padding:0;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px #555 solid;
}

.nav li a {
    color: #ddd !important;
}

.nav li.end {
    border: 0px;
}


hr {
  border: 0px;
  background-color: #ddd;
  height: 1px;
  width: 100%;
}

a {
    text-decoration: none;
    color: #1133aa;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    color: #cc2200;
}
a:visited {
    color: #446677;
}
ul, ol {
    margin-left: 1em;
    padding: 0;
    padding-left: 1em;
}
li {
    line-height: 24px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol{
    font-size: 15px;
    line-height: 1.35em;
    text-align: justify;
    /*max-width: 540px;*/
}

.codehilite{
	padding: 7px 15px 7px 15px;
    border-radius: 5px;
	/*max-width: 540px;*/
}

.codehilite pre{
	padding: 0px;
	margin: 0px;
	line-height: 1.17em;
}

code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
aside {
    display: block;
    float: right;
    width: 390px;
}
blockquote {
    border-left:.5em solid #ffbd6c;
    padding: 0 2em;
    margin-left:0;
    background-color: #fff8f8;
}
blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    color: #666;
    font-style: italic;
    max-width: 500px;
}
hr {
    /*width: 540px;*/
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

/* Code below this line is copyright Twitter Inc. */

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
/* override default chrome & firefox settings */
input:not([type="image"]), textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
  margin-bottom: 0;
}
input[type=text],
input[type=password],
textarea,
select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select, input[type=file] {
  height: 27px;
  line-height: 27px;
}
textarea {
  height: auto;
}

/* grey out placeholders */
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}

input[type=text],
input[type=password],
select,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* buttons */
button {
  display: inline-block;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
button:hover {
  color: #fff;
  background-position: 0 -15px;
  text-decoration: none;
}
button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}